<body>
    <div class="wrapper">
        <form action="">
            <h1>Reporte</h1>
            <div class="input-box">
                <select>
                    <option selected="true" disabled="disabled">Sucursal</option>
                    <option>Central</option>
                    <option>Norte</option>
                    <option>Sur</option>
                    <option>General</option>
                </select>
                <i class='bx bx-store'></i>
            </div>
            <div class="input-box">
                <select>
                    <option selected="true" disabled="disabled">Tipo de Reporte</option>
                    <option>Clientes que mas han gastado</option>
                    <option>Descuentos realizados</option>
                    <option>10 ventas mas grandes</option>
                    <option>10 articulos mas vendido</option>
                    <option>10 ventas mas grandes</option>
                    <option>sucursales con mas ingresos</option>
                </select>
                <i class='bx bxs-report' ></i>
            </div>
            

            <button type="submit" class="btn">Generar Reporte</button>
        </form>
        </div>
</body>