<body>
    <div class="wrapper">
        <form #formulario="ngForm" (ngSubmit) ="Login(formulario)">
            <h1>Iniciar Sesion</h1>
            <div class="input-box">
                <input type="text" name="usuario" placeholder="Username"  required ngModel>
                <i class='bx bx-user'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password"
                placeholder="password" required ngModel>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>

    </div>
</body>