<body>
<div class="wrapper">
    <form #miFormulario="ngForm" (ngSubmit)="GuardarEmpleado(miFormulario)">
        <h1>Registro Empleados</h1>
        <div class="input-box">
            <input type="text" placeholder="CUI" name="cui"  [(ngModel)]="empleado.cui" required #cui="ngModel" pattern="^[0-9]{13}$">
            <i class='bx bxs-id-card'></i>
            <div  *ngIf="cui.invalid">
                CUI obligatorio,13 numeros
            </div>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Nombres" name="nombre" [(ngModel)]="empleado.nombre" required #nombre="ngModel">
            <i class='bx bx-user'></i>
            <div  *ngIf="nombre.invalid">
                Nombre obligatorio
            </div>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Apellidos"  name=" apellido" [(ngModel)]="empleado.apellido" required #apellido="ngModel">
            <i class='bx bx-user'></i>
            <div  *ngIf="apellido.invalid">
                apellido obligatorio
            </div>
        </div>
        <div class="input-box">
            <input type="date" placeholder="Fecha de Nacimiento" name="nacimiento" [(ngModel)]="empleado.nacimiento" required #nacimiento="ngModel">
        
        </div>
        <div class="input-box">
            <input type="text" placeholder="Telefono"  name="telefono"  required [(ngModel)]="empleado.telefono" required pattern="^[0-9]{8}$" #telefono="ngModel">
            <i class='bx bx-phone'></i>
            <div  *ngIf="telefono.invalid">
                Telefono obligatorio, formato de 8 numeros
            </div>
        </div>
        

        <div class="input-box">
            <input type="text" placeholder="Direccion" name="direccion"  [(ngModel)]="empleado.direccion" required #direccion="ngModel">
            <i class='bx bx-building-house'></i>
            <div  *ngIf="direccion.invalid">
                Direccion obligatoria
            </div>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Sueldo" name="sueldo"  required [(ngModel)]="empleado.sueldo" required #sueldo="ngModel">
            <i class='bx bx-money-withdraw'></i>
            <div  *ngIf="sueldo.invalid">
                Sueldo obligatorio,solo numeros
            </div>
        </div>
        <div class="input-box">
            <select [(ngModel)]="empleado.sucursal" name="sucursal" required>
                <option selected="true" disabled="disabled">Sucursal</option>
                <option>Central</option>
                <option>Norte</option>
                <option>Sur</option>
            </select>
            <i class='bx bxs-report' ></i>
        </div>
        <button type="submit" class="btn" [disabled]="!cui.valid || !nombre.valid || !apellido.valid || !nacimiento.valid
            || !telefono.valid || !direccion.valid || !sueldo.valid 
        ">
            Registrar Trabajador
        </button>
    </form>
</div>
</body>
